<h1>Welcome to OlympusBook, <%= @user.name %>!</h1>

<p>We are glad you decided to join us. Keep coming back to see what your friends are up and to share your life updates as well!</p>

<p>Thank you!</p>
<p><strong>The OlympusBook Team</strong></p>