<article class="comment">
  <div class="row">
    <div class="col-sm-2">
      <img src="http://placehold.it/80x80" class="img-thumbnail">
    </div>
    <div class="col-sm-10">
      <h4><%= link_to comment.user.name, user_posts_path(comment.user) %> <small class="text-muted">Said on <%= comment.created_at.stamp('Wednesday, October 20, 2015') %></small></h4>
      <p><%= comment.content %></p>
      <p>
        <a href="#" class="post-action"><i class="fa fa-thumbs-up"></i> Like</a> <small class="text-muted">You and 3 other people like this.</small></h4>
      </p>
    </div>
  </div>
</article>