<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-3">
        <%# TODO: put real photo and friend count %>
        <a href="#"><img src="http://placehold.it/100x100" class="img-thumbnail"></a>
      </div>
      <div class="col-sm-6 friend-vertical-parent">
        <h4><%= link_to friend.name, profile_path(friend) %></h4>
        <small class="text-muted">320 Friends</small>
      </div>
      <div class="col-sm-3 friend-vertical-parent">
        <!-- Friend/Unfriend buttons -->
        <%= render partial: 'shared/friend_buttons', locals: {other_user: friend, size: 'btn-sm'} %>
      </div>
    </div>
  </div>
</div>