<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-3">
        <%= profile_photo(friend) %>
      </div>
      <div class="col-sm-6 friend-vertical-parent">
        <h4><%= link_to friend.name, profile_path(friend) %></h4>
        <small class="text-muted"><%= friend.friend_count %> Friends</small>
      </div>
      <div class="col-sm-3 friend-vertical-parent">
        <!-- Friend/Unfriend buttons -->
        <%= render partial: 'shared/friend_buttons', locals: {other_user: friend, size: 'btn-sm'} %>
      </div>
    </div>
  </div>
</div>