<main>
  <div class="row">

    <!-- About olympusbook -->
    <section class="info col-sm-7">
      <h2>Connect with all your friends!</h2>
      <p>
        <i class="fa fa-camera-retro"></i>   See photos and updates in your news feed.
      </p>
      <p>
        <i class="fa fa-pencil"></i>  Post your status for the world to see from your profile.
      </p>
      <p>
        <i class="fa fa-users"></i>  Get in touch with your friends by "friending" them.
      </p>
      <p>
        <i class="fa fa-thumbs-up"></i>  Like things because you're a positive person!
      </p>
    </section>

    <!-- Sign-up form -->
    <section class="sign-up col-sm-5">
      <%= render 'form' %>
    </section>
  </div>
</main>
