<div class="col-sm-3 text-center photo-box">
  <a href="#">
    <div data-content="Uploaded <%= photo.created_at.stamp('January 1, 2015') %>" class="image">
      <%= image_tag photo.photo.url(:preview), class: 'img-thumbnail photo' %>
    </div>
  </a>
</div>