<div class="col-sm-3 text-center photo-box">
  <%= link_to [@user, photo] do %>
    <div data-content="Uploaded <%= photo.created_at.stamp('January 1, 2015') %>" class="image">
      <%= image_tag photo.photo.url(:preview), class: 'img-thumbnail photo' %>
    </div>
  <% end %>
</div>