<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-center timeline-panel-heading">
      Friends <small class="text-muted">(<%= @user.friend_count %>)</small>
    </h4>
  </div>
  <div class="panel-body" id="photos-body">

    <div class="row">

      <% @user.all_friends.each do |friend| %>
        <div class="col-sm-4 text-center">
          <%= profile_photo(friend) %>
          <!-- <img src="http://placehold.it/100x100" class="img-thumbnail"> -->
          <%= link_to friend.name, profile_path(friend) %>
        </div>
      <% end %>

    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to 'See More Friends', user_friends_path(@user) %>
      </div>
    </div>
  </div>
</div>