<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-center timeline-panel-heading">
      Friends <small class="text-muted">(447)</small>
    </h4>
  </div>
  <div class="panel-body" id="photos-body">

    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="http://placehold.it/100x100" class="img-thumbnail">
        <a href="#">Apollo God of Music</a>
      </div>
      <div class="col-sm-4 text-center">
        <img src="http://placehold.it/100x100" class="img-thumbnail">
        <a href="#">Ares God of War</a>
      </div>
      <div class="col-sm-4 text-center">
        <img src="http://placehold.it/100x100" class="img-thumbnail">
        <a href="#">Aphrodite Goddess of Love</a>
      </div>

      <div class="col-sm-4 text-center">
        <img src="http://placehold.it/100x100" class="img-thumbnail">
        <a href="#">Artemis Goddess of the Hunt</a>
      </div>
      <div class="col-sm-4 text-center">
        <img src="http://placehold.it/100x100" class="img-thumbnail">
        <a href="#">Zeus God of the Sky</a>
      </div>
      <div class="col-sm-4 text-center">
        <img src="http://placehold.it/100x100" class="img-thumbnail">
        <a href="#">Hades God of the Dead</a>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="friends.html">See More Friends</a>
      </div>
    </div>
  </div>
</div>