<form class="navbar-form" role="search">
  <div class="form-group col-sm-6">
    <label class="sr-only">Search</label>
    <input type="text" class="form-control" placeholder="Search for Users" id="user-search">
  </div>
</form>
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to current_user.name, profile_path(current_user) %></li>
  <li><%= link_to 'Log Out', logout_path, method: 'delete' %></li>
</ul>